@import 'mixins';

.wrapper {
  max-width: 1200px;
  padding: 20px;
  @include mobile-only {
    padding: 10px;
  }
}

.article-detail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
  @include mobile-only {
    margin: 0.5rem auto;
    padding: 0rem;
  }
}

.header-row {
  // display: flex;
  // align-items: center;
  // gap: 1rem;
  position: relative;
  @include mobile-only {
    align-items: start;
    display: flex;
    gap: 1rem;
  }

  .article-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #1f1f2e;
    @include mobile-only {
      align-items: start;
    }
  }

  .back-arrow {
    position: absolute;
    left: -40px;
    @include mobile-only {
      position: static;
    }
  }
}

.meta-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  font-size: 20px;
  color: #000000;
  margin: 30px 0px;
  @include mobile-only {
      grid-template-columns: 1fr 1fr;
  }
}

.article-description {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 2rem;
}

.separator {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}