@import 'mixins';

.topics-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding: 24px;
  margin: 10px; 
  @include mobile-only {
    grid-template-columns: 1fr;
    padding: 0px;
  }
}