<div class="card topic-card">
  <h3 class="card_title topic-card_title">{{ topic.name }}</h3>

  <p class="card_content topic-card_content">
    {{ topic.description }}
  </p>

  <button *ngIf="mode === 'subscribe-only' || mode === 'both'"
          (click)="toggleSubscription()" class="subscribe-btn" 
          [ngClass]="{ 'subscribe-btn_subscribed': topic.isSubscribed }"
          [disabled]="topic.isSubscribed">
    {{ topic.isSubscribed ? "Déjà abonné" : "S'abonner" }}
  </button>
  <button *ngIf="mode === 'unsubscribe-only'"
          (click)="toggleSubscription()" class="subscribe-btn" >
    Se désabonner
  </button>

</div>
