.topic-card {
  width: 100%;
  max-width: 400px;
  max-height: 160px;
  height: 100%;
  &_content {
    -webkit-line-clamp: 3;  
  }
}

.subscribe-btn {
    background-color: #7763C5;
    font-weight: 700;
    color: white;
    width: 166px;
    height: 40px;
    cursor: pointer;
    align-self: center;
    border-radius: 8px;
    border: none;
    &:hover {
        background-color: #6a4bd4;
    }
    &_subscribed {
        background-color: grey;  
        &:hover {
            background-color: darkgrey;
        }
    }
    &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
