@import 'mixins';

.home {
  @include mobile-only {
    position: relative;
  }
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_image-container {
  width: 412px;
  @include mobile-only {
    top: 100px;
    position: absolute;
  }
}

.home_links-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 24px;
  &_button {
    padding: 12px 24px;
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    width: 156px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #7763C5;
      color: #fdfdfd;
      border: #7763C5 solid 2px;
    }
  }
  @include mobile-only {
    flex-direction: column;
    gap: 40px;
  }
}