<header class="app-header">
  <div class="header-left">
    <img src="assets/logo_p6.png" alt="Logo" class="logo" />
  </div>

  <nav *ngIf="isAuthenticated" class="header-nav">
    <a (click)="logout()" class="disconnect">Se déconnecter</a>
    <a routerLink="/articles" class="header-nav_item" routerLinkActive="active-link">Articles</a>
    <a routerLink="/topics" class="header-nav_item" routerLinkActive="active-link">Thèmes</a>
  </nav>

  <div *ngIf="isAuthenticated" class="header-right">
    <a 
      routerLink="/profile" 
      routerLinkActive="active-avatar" 
      class="avatar-container"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon fontSet="material-icons-outlined" class="avatar-icon">person</mat-icon>
    </a>
  </div>
</header>